<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
</head>

<body>
  <header>
    <div class="overlay">
  <h1>Fundacion Fundesp</h1>
  <h3>Una razon para mejorar al Mundo</h3>
  <mat-toolbar class="toolbar">
    <a mat-button href="https://www.google.com/" target="_blank">Inicio De Sesion</a>
    <a mat-button href="https://www.google.com/" target="_blank">Registrar</a>
  </mat-toolbar>
      </div>
  </header>


  <footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
    <a>Andres Cardenas</a> <a>Andres Ortega</a>
    </div>
    <!-- Copyright -->
  </footer>
</body>

</html>
